$errorColor: red;
$tint: #ECEFF1;

* {
    font-family: Helvetica, serif;
    color: #444;
}

body {
    background-color: #EF5350;
}

h1, h2, h3, h4, h5, h6 {
    padding: 5px;
}

header {
    margin-top: 50px;
    width: 40em;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.icon {
    position: absolute;
    width: 40px;
}

.title {
    color: #FFF;
    text-align: center;
    font-size: 3.0em;
    margin-top: 0;
}

.sub-title {
    text-align: center;
}

section {
    position: relative;
    background-color: #FFF;
    color: #444;
    width: 40em;
    max-width: 100%;
    padding: 1em 2em;
    margin: 1em auto;
    box-shadow: rgba(0, 0, 0, .3) 0.05em 0.05em 0.1em;
    border-radius: 0.2em;
    box-sizing: border-box;
}

.btn {
    color: #FFF;
    border-radius: 2px;
}

.dark {
    color: #2196F3;

    em {
        color: #2196F3;
        font-style: normal;
        font-weight: 800;
    }
}

.boxed {
    background-color: #FFF;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, .4) 0.05em 0.05em 0.1em;
}

.description {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 100;
    line-height: 1.5;
}

.error {
    padding: 0.5em;
    background: lighten($errorColor, 30);
    border: 0.1em solid $errorColor;
}

/**
 * Form styles
 */
$btnSidePadding: 15px;

form {
    max-width: 15em;
    margin-left: auto;
    margin-right: auto;

    div {
        margin-top: 20px;
        margin-bottom: 20px;
        overflow: hidden;
    }

    label {
        font-weight: 100;
    }

    label:after {
        content: ": ";
    }

    input[type="text"] {
        float: right;
        background-color: transparent;
        border: none;
        border-bottom: #ddd solid 2px;
        font-size: 1.1em;

        transition: all .4s ease;
    }

    input[type="text"]:focus {
        outline: none;
        border-bottom-color: #42A5F5;
    }
}

button {
    margin-top: 10px;
    padding: 7px;
    text-align: center;
    width: 100%;
    background-color: #2196F3;
    color: #FFF;
    font-size: 1.1em;
    border: none;
    box-shadow: rgba(0, 0, 0, .4) 0.05em 0.05em 0.1em;
    border-radius: 2px;

    &:hover {
        box-shadow: rgba(0, 0, 0, .2) 0.1em 0.1em 0.3em;
        cursor: pointer;
    }

    &:active {
        background-color: #1E88E5;
        box-shadow: none;
    }

    &:focus {
        outline: none;
    }
}

.lbl-status {
    position: absolute;
    right: 3em;
    width: 40%;
    background-color: $tint;
    padding: 2px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 15px;
    font-size: 0.8em;
    text-align: center;
    color: #444;
    font-weight: 800;
}

.board-rules {
    background-color: $tint;
    text-align: center;
    margin-top: 1em;
    font-weight: 800;
    font-size: 0.8em;
    padding: 2px;
    margin-left: .5%;
    margin-right: .5%;
}

/**
 * List with large, selectable items.
 */
ul.select {
    list-style: none;
    padding: 0;

    > li {
        padding: 1em;
        display: block;
        cursor: pointer;

        &:hover {
            background: gray;
            color: white;
        }
    }

    > li + li {
        border-top: 0.1em solid gray;
    }
}
