$selectedShadow: rgba(0,0,0,.2) 0.10em 0.10em 0.15em;
$defaultShadow: rgba(0,0,0,.3) 0.05em 0.05em 0.1em;

.board {
    margin-top: 20px;
    list-style-type: none;

    text-align: center;
    border: none;
    display: flex;
}

.board li {
    background-color: #ECEFF1;
    flex-grow: 1;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2px;
    font-size: 0.8em;
    box-shadow: $defaultShadow;
    flex-basis: 15%;
}

.board li~li {
    /*border-left: #555 solid 3px;*/

}

.populated p{
    color: #efefef;
}

.board-conservative li {
    background-color: #E1F5FE;
}

.board-conservative .populated {
    background-color: #039BE5;
    box-shadow: $selectedShadow;
}

.board-republicans li {
    background-color: #FFEBEE;
}

.board-republicans .populated {
    background-color: #EF5350;

    box-shadow: $selectedShadow;
}
